header {
    background-color:red #333;
    color:blue #fff;
    padding: 10px;
    text-align: center;
	 font-family: 'Showcard Gothic', sans-serif;
	color: #efd807;
}
body {
    font-family: 'Stencil', sans-serif;
	color: #303030;
    margin: 0;
    padding: 0;
	background-image:
	url("https://images6.alphacoders.com/127/1275153.png");
	background-position: center;
	font-size: 2.3em;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #ecd453;
    font-weight: bold;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 90px;
    background-color: #ecd453;
	border-radius: 50px;
}
footer {
    background-color: #333;
    color: #ecd453;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
	border-radius: 50px;
}
img {
  display: block;
  width: 50%;
  margin: auto;
}
