body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(blue, red);
}

header {
    background: linear-gradient(blue, red);
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
h1{	
	color: white;
}
h2{
	text-align: center;
	color: blue;
}
h3{
	color: red;
}
section {
	max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}
.images {
	text-align: center;
	margin: 10px auto;
    padding: 10px;
	border: 2px dotted;
}
.videos {
	text-align: center;
	margin: 10px auto;
    padding: 10px;
	border: 2px dotted;
}
img{
	padding:10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
}

p{
	font-weight: bold;
}

table{
  border-collapse: collapse;
}

th, td{
  border: 1px solid black;
  padding: 10px;
}

