body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
	background-image:url("https://www.nlspacecampus.eu/cache/3/1920x1080/mob-shutterstock-481251031-20210610135721_1920x1080.jpg");
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
	text-decoration: none;
	font-size: larger;
}

h2 {
	text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
	font-size: 250%;
	text-decoration: underline;
}

footer {
    text-align: center;
	max-width: 200px;
	margin: 5px auto;
	padding: 5px;
	background-color: white;
}
header {
	background-color: white;
	 display: flex;
  align-items: flex-start;
  justify-content: space-between;
	
	
	
}

header :first-child {
  align-self: center;
}
#img {
	background-color: white;
    text-align: center;
}
#v1 {
	text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}
#v2 {
	text-align: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

.menu{
	padding: 20px;
	
}