h1
{
	text-align: center;
	background-color: red;
	color: black
}
p
{
	
	text-align: center;
	color: dark;
}

#para2 {
  color: blue;
  text-align: left;
}
lol
{
	text-align: left;
	color:red;
}
#p5
{
	text-align: left;
	color:red;
}
#p6
{
	text-align: left;
	color:red;
}
#p8
{
	text-align: left;
	
}
#p9
{
	text-align: left;
	
}
	
body {
    background-color: blue; 
    color: white; 
}
#p10
{
	text-align: left;
	
	
}
#p15
{
	background-color: red;
	color:green;
	
	
}
#p16
{
	text-align: center;
	
}
#a20
{
	text-align: center;
}
	