body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
	font-family: 'Noto Sans Indic Siyaq Numbers', sans-serif;
	
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.corps {
    max-width: 1000px;;
	margin: 20px auto;
	padding: 120px;
    background-color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
.image_volley {
	float:left;
}
.img_volley{
	padding: 10px;
}
.txt_volley{
	margin:10px;
}
.img_tennis{
	float:left;
	padding: 10px;
}
.img_lille{
	height: 150px
}
.lien{
	text-decoration: none;
	font-style: bold;
}
.section_foot{
	padding:10px;
}
.img_comba{
	height:500px;
}